<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        <h2><span th:text="${Annos.nimi}">Annos</span></h2>
        
        <ul>
            <li th:each="raakaAine: ${raakaAine}">
                <span th:text="${raakaAine.nimi}">raakaAine</span>
            </li>
        </ul>
        
        <p><a href="/smoothieindeksi">Smoothielistaukseen</a></p>
        
    </body>
</html>
