<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Smoothiet</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2>Smoothiet</h2>
        
        <ul>
            <li th:each="annos: ${annokset}">
                <div>
                    <span th:text="${annos.nimi}">Annos</span>
                    <a th:href="@{~/smoothiet/{id}/poista(id=${annos.id})}">(poista)</a>
                </div>
            </li>
        </ul>
        
        <h4>Lisaa uusi</h4>
  
        <form method="POST" action="">
            Smoothien nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisaa"/>
        </form>
        
        <h4>Lisaa raaka-aineita</h4>
        
        <form method="POST" action="">
            Smoothien nimi:<br/>
            <select name="smoothie">
                <option th:each="annos: ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
                    smoothie
                </option> 
            </select>
            <br/>
            Lisattava raaka-aine<br/>
            <select name="raakaAine">
                <option th:each="raakaAine: ${ainekset}" th:value="${raakaAine.id}" th:text="${raakaAine.nimi}">
                    raakaAine
                </option>
            </select>
            <br/>
            Jarjestys<br/>
            <input type="text" name="jarjestys"/><br/>
            Maara<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisaa"/>
        </form>  
        
           
        <ul>
            <li>
                <a href="/">Smoothielistaukseen</a>
            </li>
        </ul>
        
            
    </body>
</html>
